#page-wrap {
    padding: 0 !important;
    box-shadow: none !important;
}
#content-wrap {
    max-width: 100%;
}
p {
    font-size: 17px;
}
.hover-fade a:hover, .hover-fade a:focus {
    opacity: 0.8;
}
.fl-module-pp-infobox .pp-button {
    font-weight: 600;
}
.fl-module-pp-infobox .pp-button:after {
    content: '\f105';
    font-family: "FontAwesome";
    margin-left: 8px;
}
@media (max-width: 768px) {
    .fl-module-pp-infobox.dual-color .pp-infobox {
        text-align: center;
   }
}
.fl-module-pp-infobox.dual-color .pp-infobox-title strong {
    font-weight: 600;
    text-transform: uppercase;
    color: #00ab4e;
}
.fl-module-pp-infobox.dual-color.call-now .pp-infobox-description, .fl-module-pp-infobox.dual-color.chat-now .pp-infobox-description, .fl-module-pp-infobox.dual-color.schedule-now .pp-infobox-description {
    max-width: 265px;
    margin-left: auto;
    margin-right: auto;
}
.fl-module-pp-infobox.dual-color.call-now .pp-infobox-description a {
    white-space: nowrap;
}
.fl-module-pp-infobox.schedule-online-now {
    max-width: 500px;
}
.fl-module-pp-smart-button:not(.cta-button) .pp-button {
    font-weight: 600;
}
.fl-module-pp-smart-button:not(.cta-button) .pp-button:after {
    content: '\f105';
    font-family: "FontAwesome";
    margin-left: 8px;
}
#_form_67_ input[type="text"]._has_error,#_form_67_ textarea._has_error {
    border:#002d5b 1px solid;
}
#_form_67_ input[type="checkbox"]._has_error {
    outline:#002d5b 1px solid;
}
#_form_67_ ._error {
    display:block;
    position:absolute;
    font-size:13px;
    z-index:10000001;
}
#_form_67_ ._error._above {
    padding-bottom:4px;
    top:-41px;
    right:0;
}
#_form_67_ ._error._below {
    padding-top:4px;
    top:100%;
    right:0;
}
#_form_67_ ._error._above ._error-arrow {
    bottom:0;
    right:15px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #002d5b;
}
#_form_67_ ._error._below ._error-arrow {
    top:0;
    right:15px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #002d5b;
}
#_form_67_ ._error-inner {
    padding:8px 12px;
    background-color:#002d5b;
    font-size:13px;
    font-family:arial, sans-serif;
    color:#fff;
    text-align:center;
    text-decoration:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
#_form_67_ ._error-inner._form_error {
    margin-bottom:5px;
    text-align:left;
}
#_form_67_ ._button-wrapper ._error-inner._form_error {
    position:static;
}
#_form_67_ ._error-inner._no_arrow {
    margin-bottom:10px;
}
#_form_67_ ._error-arrow {
    position:absolute;
    width:0;
    height:0;
}
#_form_67_ ._error-html {
    margin-bottom:10px;
}
#_form_67_ ._field-wrapper {
    position: relative;
}
._form._form_67 ._form-content {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    box-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
}
._form._form_67 ._form-content .left-column {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 1 450px;
    -moz-flex: 0 1 450px;
    -ms-flex: 0 1 450px;
    flex: 0 1 450px;
}
._form._form_67 ._form-content .right-column {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 1 450px;
    -moz-flex: 0 1 450px;
    -ms-flex: 0 1 450px;
    flex: 0 1 450px;
}
._form._form_67 ._form-content ._button-wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 100%;
    -moz-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    text-align: center;
}
._form._form_67 ._form_element {
    margin-bottom: 20px;
}
._form._form_67 ._form-label {
    font-size: 16px;
    font-weight: 600;
    color: #231F20;
    margin-bottom: 3px;
}
._form._form_67 ._form-label .required {
    color: #002d5b;
}
._form._form_67 input[type=text], ._form._form_67 input[type=password], ._form._form_67 input[type=date], ._form._form_67 input[type=datetime], ._form._form_67 input[type=datetime-local], ._form._form_67 input[type=month], ._form._form_67 input[type=week], ._form._form_67 input[type=email], ._form._form_67 input[type=number], ._form._form_67 input[type=search], ._form._form_67 input[type=tel], ._form._form_67 input[type=time], ._form._form_67 input[type=url], ._form._form_67 input[type=color], ._form._form_67 textarea {
    background-color: #FFFFFF;
    border: 1px solid #AFC0CD !important;
    border-radius: 0 !important;
    padding: 12px !important;
    height: auto;
}
._form._form_67 input[type=text]:focus, ._form._form_67 input[type=password]:focus, ._form._form_67 input[type=date]:focus, ._form._form_67 input[type=datetime]:focus, ._form._form_67 input[type=datetime-local]:focus, ._form._form_67 input[type=month]:focus, ._form._form_67 input[type=week]:focus, ._form._form_67 input[type=email]:focus, ._form._form_67 input[type=number]:focus, ._form._form_67 input[type=search]:focus, ._form._form_67 input[type=tel]:focus, ._form._form_67 input[type=time]:focus, ._form._form_67 input[type=url]:focus, ._form._form_67 input[type=color]:focus, ._form._form_67 textarea:focus, ._form._form_67 select:focus {
    border-color: #00ab4e !important;
    outline:none;
    box-shadow: 0 0 5px #999999;
}
._form._form_67 select {
    width: 100%;
    height: 44px;
    background-color: #FFFFFF;
    border: 1px solid #AFC0CD !important;
    margin: 0;
}
._form._form_67 ._checkbox-radio-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
._form._form_67 ._checkbox-radio {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 1 220px;
    -moz-flex: 0 1 220px;
    -ms-flex: 0 1 220px;
    flex: 0 1 220px;
}
._form._form_67 ._checkbox-radio label {
    font-weight: 400;
    font-size: 14px;
}
._form._form_67 ._checkbox-radio input[type=radio], ._form._form_67 ._checkbox-radio input[type=checkbox] {
    top: auto;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
._form._form_67 ._submit {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background: #00ab4e;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
._form._form_67 ._submit:after {
    content: '\f105';
    font-family: "FontAwesome";
    margin-left: 8px;
}
._form._form_67 ._submit:hover, ._form._form_67 ._submit:focus {
    background: #019444;
}
.negMarg {
    position: relative;
    z-index: 2;
}
.narrowish {
    max-width: 1000px;
}
.narrow {
    max-width: 800px;
}
.narrower {
    max-width: 600px;
}
.narrowest {
    max-width: 400px;
}
.narrowish, .narrow, .narrower, .narrowest {
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.narrowish.left, .narrow.left, .narrower.left, .narrowest.left {
    margin-left: inherit;
    margin-right: inherit;
}
.narrowish.right, .narrow.right, .narrower.right, .narrowest.right {
    margin-right: inherit;
}
.flex-container .fl-col-content {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-container.justify-start .fl-col-content {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
}
@media (max-width: 768px) {
    .flex-container.justify-start .fl-col-content {
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
   }
}
.flex-container.align-center .fl-col-content {
    -webkit-align-content: center;
    -moz-align-content: center;
    align-content: center;
    -ms-flex-line-pack: center;
}
.flex-container.flex-direction-row .fl-col-content {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
}
.flex-container.flex-wrap .fl-col-content {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-container .fl-col-content .fl-module {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: auto;
}
.flex-container .fl-col-content .fl-module.flex-no-shrink {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
@media (max-width: 768px) {
    .col-round .fl-col-content {
        border-radius: 0 !important;
   }
}
.fl-module-post-carousel .bx-viewport {
    padding-bottom: 10px;
}
.fl-module-post-carousel .bx-controls {
    position: static;
    margin-top: 0;
}
.fl-post-carousel-post.testimonial {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@media (min-width: 900px) {
    .fl-post-carousel-post.testimonial[aria-hidden="true"] + [aria-hidden="true"], .fl-post-carousel-post.testimonial[aria-hidden="true"] + [aria-hidden="true"] + [aria-hidden="true"], .fl-post-carousel-post.testimonial[aria-hidden="false"], .fl-post-carousel-post.testimonial[aria-hidden="false"] + [aria-hidden="false"] + [aria-hidden="true"], .fl-post-carousel-post.testimonial[aria-hidden="false"] + [aria-hidden="false"] + [aria-hidden="false"] {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
   }
    .fl-post-carousel-post.testimonial[aria-hidden="false"] + [aria-hidden="true"], .fl-post-carousel-post.testimonial[aria-hidden="false"] + [aria-hidden="false"] {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
   }
}
.fl-post-carousel-post.testimonial .fl-post-carousel-text {
    padding: 40px;
}
@media (max-width: 768px) {
    .fl-post-carousel-post.testimonial .fl-post-carousel-text {
        padding: 20px;
   }
}
.fl-post-carousel-post.testimonial .fl-post-carousel-content p {
    font-family: "Noto Serif", serif;
    font-style: italic;
    font-size: 18px;
    line-height: 1.45;
    position: relative;
    padding-left: 35px;
    color: #545454;
}
.fl-post-carousel-post.testimonial .fl-post-carousel-content p:before {
    content: '';
    background: url(/wp-content/themes/redbud/assets/images/icon-quote@2x.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 16px;
}
@media (max-width: 768px) {
    .fl-post-carousel-post.testimonial .fl-post-carousel-content p {
        font-size: 16px;
        text-align: center;
        padding-left: 0;
        padding-top: 30px;
   }
    .fl-post-carousel-post.testimonial .fl-post-carousel-content p:before {
        right: 0;
        margin: 0 auto;
   }
}
.fl-post-carousel-post.testimonial .testimonial-name {
    margin-top: 20px;
    text-align: center;
}
.fl-post-carousel-post.testimonial .testimonial-name .stars {
    max-width: 100px;
    margin: 0 auto 8px;
}
.fl-post-carousel-post.testimonial .testimonial-name span {
    display: block;
}
.fl-post-carousel-post.testimonial .testimonial-name .name {
    font-weight: 600;
    font-size: 16px;
    color: #231F20;
}
.fl-post-carousel-post.testimonial .testimonial-name .designation {
    font-size: 16px;
    color: #5C6E7D;
}
.bx-wrapper .bx-pager.bx-default-pager {
    position: static;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #0A4696;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 11px;
    height: 11px;
    border-radius: 100%;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
}
.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
    opacity: 1;
    background: #0A4696;
}
.bottom-cta {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}