.uabb-infobox .uabb-infobox-title-prefix {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
#hero .uabb-infobox .uabb-infobox-text {
    opacity: 0.9;
}
.disclaimerText {
   text-align: center;
}
.fl-rich-text p {
    font-size: 18px;
}
.callout .uabb-infobox {
    border-left: solid 7px #74968d !important;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.20);
}
.uabb-list-icon-wrap {
    -webkit-box-align: start;
    -moz-box-align: start;
    box-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-align: start;
}
.pain-quiz-btn a {
    padding: 25px 15px 30px !important;
    overflow: visible !important;
}
.pain-quiz-btn a:after {
   content: '';
   position: absolute;
   left: 0;
   right: 0;
   margin: 0 auto;
   bottom: -26px;
   z-index: 2;
   border-left: 25px solid transparent;
   border-right: 25px solid transparent;
   border-top: 25px solid #773DBD;
   width: 0;
   height: 0;
}
.pain-quiz-btn a:before {
   content: 'f107';
   font-family: 'FontAwesome';
   position: absolute;
   left: 0;
   right: 0;
   margin: 0 auto;
   bottom: -26px;
   color: white;
   z-index: 3;
   font-weight: 400;
   font-size: 28px;
}
.pain-quiz-btn a:hover:after {
    border-top-color: #532b84;
}
.disclaimerText {
    text-align: center;
}
.fine-print p {
    font-size: 12px;
    line-height: 1.8 !important;
}
.form-group {
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.20);
    border-radius: 5px;
    border-top: solid 7px #773DBD;
    padding: 50px;
    margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
    .form-group {
       padding: 30px;
   }
}
@media screen and (max-width: 480px) {
    .form-group {
       padding: 30px 15px;
   }
}
/*------------------------------------------------------------------------------ GRAVITY FORM - ProRehabLou ------------------------------------------------------------------------------*/
.orebro-form .orebro input[type=email], .orebro-form .orebro input[type=number], .orebro-form .orebro input[type=password], .orebro-form .orebro input[type=tel], .orebro-form .orebro input[type=text], .orebro-form .orebro input[type=url] {
   background: #fafafa;
   padding: 10px !important;
   border-radius: 5px !important;
   height: auto;
   border-color: #BFBFBF;
   font-size: 16px !important;
}
.orebro-form .orebro input[type=email]:focus, .orebro-form .orebro input[type=number]:focus, .orebro-form .orebro input[type=password]:focus, .orebro-form .orebro input[type=tel]:focus, .orebro-form .orebro input[type=text]:focus, .orebro-form .orebro input[type=url]:focus {
   background: #ffffff;
   border-color: #6E3795;
}
.orebro-form .orebro ._form-label {
    font-weight: bold;
    font-size: 16px;
}
.orebro-form .orebro select {
   -moz-appearance: menulist !important;
   -webkit-appearance: menulist !important;
   height: 42px;
   font-weight: 400;
}
.orebro-form .orebro select, .orebro-form .orebro textarea {
    background: #fafafa;
   padding: 10px !important;
   border-radius: 5px !important;
   border-color: #BFBFBF;
   font-size: 16px !important;
}
.orebro-form .orebro select:focus, .orebro-form .orebro textarea:focus {
   background: #ffffff;
   border-color: #6E3795;
}
.orebro-form .orebro textarea {
    min-height: 150px;
    margin-top: 20px;
}
.orebro-form .orebro.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_left select, .orebro-form .orebro.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_right select {
    margin-left: 3px;
}
.orebro-form .orebro.gf_browser_chrome ul.gform_fields li.gfield input[type=radio], .orebro-form .orebro.gf_browser_chrome ul.gform_fields li.gfield select {
    margin-left: 3px;
}
.orebro-form .orebro .likert input[type='radio'] + label:before {
    content: " ";
    border: 1px solid #999;
    width: 36px;
    height: 36px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: calc(50% - 20px);
    transition: .22s linear background, .22s linear border;
}
.orebro-form .orebro .likert input[type='radio'] + label .likertCircle {
    color: #999;
    width: 36px;
    height: 36px;
    font-size: 15px;
    transition: .22s linear color;
    font-weight: 500;
   line-height: 35px;
   margin-left: -4px;
}
.orebro-form .orebro .likert input[type="radio"]:checked + label {
    text-decoration: none !important;
}
.orebro-form .orebro .likert input[type="radio"]:checked + label:before {
    background-color: #773dbd;
    border-color: #773dbd;
}
.orebro-form .orebro .likert input[type="radio"]:checked + label .likertCircle {
    color: #fff;
    position: relative;
    z-index: 2;
}
.orebro-form .orebro .gform_footer input[type=submit] {
    left: 50%;
    transform: translate(-50%, 0);
}
.orebro-form .orebro ._form-content .boxed .ageRange {
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: column;
    grid-auto-columns: 50px;
    grid-gap: 15px;
    margin-left: -17px;
    padding-bottom: 14px;
}
@media screen and (max-width: 600px) {
    .orebro-form .orebro ._form-content .boxed .ageRange {
        grid-template-columns: auto;
        grid-auto-flow: row;
        grid-gap: 40px;
        justify-content: center;
   }
}
.orebro-form .orebro ._form-content .boxed label {
    flex: 3;
    color: #231F20;
    margin: 0;
    font-size: 16px;
}

.orebro-form .orebro ._form-content .boxed label:hover {
    cursor: pointer;
}
.orebro-form .orebro ._form-content .boxed div ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
}
.orebro-form .orebro ._form-content .boxed div ul > li {
    flex: 1;
}
.orebro-form .orebro .horizontalRadio {
    display: flex;
    align-items: center;
    flex-basis: 15% !important;
    margin-right: 1em;
    position: relative;
}
.orebro-form .orebro .horizontalRadio input {
    margin: 0;
}
.orebro-form .orebro .horizontalRadio span {
    margin-left: 10px;
}
.orebro-form .orebro .horizontalRadio input {
    display: none;
}
.orebro-form .orebro .horizontalRadio label {
    position: relative;
    margin-left: 21px;
}
.orebro-form .orebro .horizontalRadio label:before {
    content: "\f1db";
    font-family: "FontAwesome";
    position: absolute;
    top: -2px;
    left: -20px;
    color: #999;
    font-size: 18px;
    /* border: 1px solid #999;
    width: 13px;
    height: 13px;
    border-radius: 50%; */
}
.orebro-form .orebro .horizontalRadio input:checked + label:before {
    content: "\f058";
    color: #773DBD;
}
/* .orebro-form .orebro .horizontalRadio input:checked + label:after {
    background: #773dbd;
    width: 9px;
    height: 9px;
    content: " ";
    position: absolute;
    top: 6px;
    left: -18px;
    border-radius: 50%;
} */
.orebro-form .orebro .centeredRadios {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 80px;
    margin: 0 0 5px;
    padding: 0;
}
.orebro-form .orebro .centeredRadios input {
    display: none;
}
.orebro-form .orebro .centeredRadios label {
    position: relative;
    margin: 0;
}
.orebro-form .orebro .centeredRadios label:before {
    content: "\f1db";
    font-family: "FontAwesome";
    color: #999;
    /* border: 1px solid #999;
    width: 13px;
    height: 13px;
    border-radius: 50%; */
    display: block;
    margin: 0 auto 8px;
    font-size: 18px;
}
.orebro-form .orebro .centeredRadios input:checked + label:before {
    content: '\f058';
    color: #773DBD;
}
/* .orebro-form .orebro .centeredRadios input:checked + label:after {
    background: #773dbd;
    width: 9px;
    height: 9px;
    content: " ";
    position: absolute;
    top: -15px;
    left: calc(50% - 5px);
    border-radius: 50%;
} */
.orebro-form .orebro ._x14333886 label, .orebro-form .orebro ._x53667568 label, .orebro-form .orebro ._x98606320 label {
    flex: 0.3 !important;
}
.orebro-form .orebro ._field9 label {
    flex: 0.5 !important;
}
.orebro-form .orebro .whenProblemStarted label {
    flex: 0.9 !important;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 6px !important;
}
.orebro-form .orebro .whenProblemStarted select {
    width: 100%;
}
.orebro-form .orebro ._form-content .likert > label {
    font-size: 16px;
    font-weight: bold;
}
.orebro-form .orebro ._form-content label .required {
    color: #ce392d;
    font-size: 18px;
}
.orebro-form .orebro ._form-content .likert ul {
    margin-top: 16px;
    margin-bottom: 0;
    list-style: none;
}
.orebro-form .orebro ._form-content .likert .likert_radio input[type="radio"] {
    display: none;
}
.orebro-form .orebro ._form-content .likert .likert_radio input[type="radio"]:checked + label {
    text-decoration: underline;
}
.orebro-form .orebro ._form-content .likert .likert_radio label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    position: relative;
    text-align: center;
}
.orebro-form .orebro ._form-content .likert .likert_radio .break {
    display: block;
    margin-top: 10px;
    white-space: nowrap;
    font-size: 16px;
    color: #999;
    text-indent: -7px;
}
.orebro-form .orebro ._form-content .likert .likert_radio .break.large {
    text-indent: -30px;
}
.orebro-form .orebro ._form-content .likert .likert_radio li {
    text-align: center;
    width: 68px;
    position: relative;
}
@media screen and (max-width: 600px) {
    .orebro-form .orebro ._form-content .likert .likert_radio ul {
        /* display: grid;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap: 15px; */
        display: block;
        margin-left: 0;
   }
   .orebro-form .orebro ._form-content .likert .likert_radio li {
       width: 40px;
       display: inline-block;
       margin: 0 0 10px;
   }
}
.orebro-form .orebro .submitButton {
    display: flex;
    margin: 32px 0;
    justify-content: center;
    grid-column: span 2;
}
body .orebro-form .orebro .submitButton button {
    background-color: #CB4539;
   padding: 17px 40px 20px;
   font-size: 22px;
   font-weight: 600;
   transition: all 0.3s ease;
   margin: 0;
}
body .orebro-form .orebro .submitButton button:hover,
body .orebro-form .orebro .submitButton button:focus {
   background-color: #A2372E;
}
@media (max-width: 600px) {
    .orebro-form .orebro .submitButton button {
        font-size: 20px;
   }
}
body .orebro-form .orebro h4 {
   margin: 0 0 40px;
   font-weight: 700;
   text-align: center;
   font-size: 24px;
}
@media (max-width: 600px) {
    body .orebro-form .orebro h4 {
       margin: 0 0 20px;
   }
}
.likert {
   margin-bottom: 30px;
}
.likert:last-child {
   margin-bottom: 0;
}
.orebro-form .orebro ._form-content .boxed .radioWrapper {
   display: flex;
   padding-bottom: 14px !important;
}
body .orebro-form .orebro .horizontalRadio label {
   margin-left: 20px !important;
}
.orebro-form .orebro ._form-content .boxed ._form-label {
   margin-bottom: 6px !important;
}
.likert-explain {
   font-weight: 500;
   margin: 10px 5px 0;
   color: #676767;
   overflow: hidden;
   opacity: 0.8;
   font-size: 15px;
}
@media screen and (max-width: 600px) {
   .likert-explain {
       margin: 0 5px;
   }
}
body .orebro-form .orebro ._form-content .boxed .ageRange {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
}
body .orebro-form .orebro .centeredRadios label:before {
   width: 17px;
   height: 17px;
}
body .orebro-form .orebro .centeredRadios input:checked + label:after {
   width: 11px;
   height: 11px;
   left: 50%;
   top: 3px;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
}

#_form_5_ .likert_radio ._error-inner:after, #_form_5_ ._checkbox-radio ._error-inner:after {
   content: "";
   border: 10px solid transparent;
   border-left: 15px solid #bc342c;
   right: -25px;
   top: calc(50% - 8px);
   position: absolute;
}

#_form_5_ .likert_radio ._error-inner, #_form_5_ ._checkbox-radio ._error-inner {
   width: 100px;
   position: absolute;
   left: -120px;
   top: -20px;
}

#_form_5_ ._field19 ._checkbox-radio ._error-inner {
   left: -103px;
}