.post-content{
	padding:1rem;
}

.page .about-author{
	display:none;
}

#comments{
	display:none;
}

/* Marketing Summit gForms */

#gform_fields_26 .select-custom .fa {
	display:none;
}

#gform_fields_26 .gfield_label{
	font-size:20px !important;
    text-shadow: none !important;
}

#gform_fields_26{
	max-width:75%;
	margin: 0 auto !important;
	background-color:#f7f7f7;
	padding:5rem;
	-webkit-box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.5); 
	box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.5);
	border:0.5px solid black;
}

#gform_fields_26 .gfield_label{
	color:#333 !important;
}
#gform_fields_26 .gfield{
	padding-bottom:4rem;
}

#gform_fields_26 input:focus{
/* 	outline: 3px solid red !important; */
}

/* Hides weird colored circle that shows up on this form for some reason. */
ul > li:before {
	background-color:transparent !important;
}

.select-custom .fa {
	  position: absolute;
    line-height: 42px;
    top: 0;
    right: 30px;
    font-size: 16px;
    color: #fff;
}

.page-id-3974 h1{
	text-align: center;
}

label.gfield_label{
	padding-top:5rem;
	text-transform: uppercase;	
}




/*** MAIN FORM WRAPPER ***/
.gform_wrapper {
	background: #f9f9f9;
	border-radius: .5rem;
	padding: 5%;
   }
   /*** GRAVITY FIELDS ***/
   .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
	background: rgba(0, 0, 0, 0);
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #333;
	border-radius: 0px !important;
   }

   .gform_wrapper ul.gform_fields li.gfield {
	margin-bottom: 20px;
   }
   input[type=text]:focus,
   input.text:focus,
   input.title:focus,
   textarea:focus {
	border-bottom: 2px solid #b5b5b5 !important;
   }
	
   /*** BUTTON STYLING ***/
   .gform_wrapper .gform_footer input.button,
   .gform_wrapper .gform_footer input[type=submit] {
	background: #A2D400;
	text-transform: uppercase;
	border: 2px solid #1d1d1d;
	padding: 7px 12px;
	cursor: pointer;
	font-size: 18px;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	border-radius: 0 !important;
   }
   /*** BUTTON HOVER STYLING ***/
   .gform_wrapper .gform_footer input.button:hover,
   .gform_wrapper .gform_footer input[type=submit]:hover {
	background: #1d1d1d;
	color: #fff;
   }
   /*** SECTION STYLING ***/
   .gform_wrapper h2.gsection_title {
	font-weight: normal;
	font-size: 2em;
	margin-bottom: 2rem !important;
	text-align: center;
   }
   .gform_wrapper .gsection {
	padding: 20px !important;
	border-bottom: none;
   }

   .gsection{
	   margin-top:3rem !important;
   }

   .gform_wrapper li.gfield.field_description_below+li.gsection{
	   margin-top:5rem !important;
   }

   .gsection_title{
	   text-transform: uppercase;
   }

   .gfield_label{
	   font-size: 20px !important;
   }

   /*** GRAVITY RADIO AND CHECKBOXES ***/
   .gform_wrapper ul.gfield_checkbox li input[type=checkbox],
   .gform_wrapper ul.gfield_radio li input[type=radio] {
	visibility: hidden;
	margin: 0;
	width: 0!important;
   }
   .gform_wrapper input[type=checkbox] + label,
   .gform_wrapper input[type=radio] + label {
	font-size: 16px;
   }
   input[type=checkbox] + label:hover,
   input[type=radio] + label:hover {
	cursor: pointer;
   }


   input[type=checkbox] + label:before,
   input[type=radio] + label:before {
	font-family: FontAwesome !important;
	color:#333;
	font-size: 30px;
	position: relative;
	top: 0.3em;
	margin-right: 0.2em;
   }


   .gform_wrapper li.gf_list_inline ul.gfield_checkbox li,
   .gform_wrapper li.gf_list_inline ul.gfield_radio li {
	display: -moz-inline;
	display: inline;
   }

   input[type=checkbox] + label:before {
	font-family: FontAwesome !important;
	content: '\f096';
	color:#333;
   }

   .gform_wrapper {
    background: #f9f9f9;
    border-radius: 0.5rem;
    padding: 5%;
    border: 1px solid #333;
    -webkit-box-shadow: 6px 6px 19px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 19px -8px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 19px -8px rgba(0,0,0,0.75);
}

   input[type=checkbox] + label:hover:before {
	font-family: FontAwesome !important;
	content: '\f196';
	filter: alpha(opacity=40);
	opacity: 0.4;
   }
   
   input[type=checkbox]:checked + label:before {
        font-family: FontAwesome!important;
        color: #A2D400;
        content: '\f046';
   }

   input[type=checkbox]:checked + label:hover:before {
    font-family: FontAwesome!important;
    color: #A2D400;
    content: '\f046';
	filter: alpha(opacity=100);
	opacity: 1;
   }

   input[type=radio] + label:before {
	font-family: FontAwesome!important;
	content: '\f096';
   }

   input[type=radio] + label:hover:before {
	content: '\f096';
	filter: alpha(opacity=40);
	opacity: 0.4;
   }

   input[type=radio]:checked + label:before {
	font-family: FontAwesome!important;
	content: '\f046';
	color: #A2D400;
   }


   input[type=radio]:checked + label:hover:before {
	filter:alpha(opacity=100);
	opacity: 1;
   }

   .gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked+label,
   .gform_wrapper ul.gfield_radio li input[type=radio]:checked+label {
	font-weight: normal;
   }

   /*** SUCCESS MESSAGE ***/
   .gform_confirmation_wrapper {
	background: #fff;
	padding: 15px;
}

#gform_submit_button_1{
	background:#333 !important;
}